# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DEV_Java\Knowledge_Based_Expert_Systems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
